@using RazorEngine.Text
@using QTD2.Infrastructure.Reports.Generation
@using QTD2.Infrastructure.ExtensionMethods
<style>

    .table {
        font-family: Roboto, "Helvetica Neue", sans-serif;
        color: #000;
    }

    a.pagerNumber {
        text-decoration: none;
        background-color: white;
        color: black;
    }

        a.pagerNumber:hover {
            text-decoration: none;
            background-color: cornflowerblue;
            color: white;
        }

    .strip {
        margin: 10px 0px;
    }

    .strip-container .strip-dark {
        height: 10px;
        background-color: #e8e8e8;
    }

    tr.open-border-table-row th:first-child, tr.open-border-table-row td:first-child {
        padding-left: 0px !important;
        border-left: 0 !important;
    }

    tr.open-border-table-row th:last-child {
        border-right: 0 !important;
    }

    .fix-comment *{
        margin:0;
        padding:0;
    }

    .fix-comment img {
        width: 400px !important;
        height: auto !important;
        display: block !important;
        padding: 0 !important;
        margin: 0 !important;
        object-fit: cover;
        overflow: hidden;
    }

    .fix-comment ul, .fix-comment ol {
        margin: 0 !important;
        padding: 0 0 0 20px !important;
        list-style-position: inside !important;
    }

    .fix-comment li {
        margin: 0 !important;
        padding: 0 !important;
        font-size: 1rem;
    }

    .fix-comment p {
        margin: 0 !important;
        padding: 0 !important;
        line-height: 1.5 !important;
    }

    .fix-comment strong {
        font-weight: bold !important;
    }

    .fix-comment u {
        text-decoration: underline !important;
    }

    .fix-comment table {
        border-collapse: collapse;
    }

    .fix-comment table td,
    .fix-comment table th {
        border: 1px solid black;
        padding: 5px;
    }

    @@media print {
        .pager {
            display: none !important;
        }

        .strip-container .strip-dark {
            background-color: white;
        }
    }
</style>

<table id="content-table" class="table landscape-report" style="border-collapse: collapse">
    <tr>
        <td colspan="12" style="vertical-align: middle; text-align: center; border: none !important;">
            <div class="repeatedReportHeader" style="padding-bottom: 0px; border-bottom: 2px solid #020378; margin: 0 0 10px 0;">
                <div style="display: -webkit-box; display: flex; align-items: center; -webkit-box-pack: justify;-webkit-box-align:center; justify-content: space-between; border-bottom: 4px solid #020378; margin: 0 0 3px 0;">
                    @if (!string.IsNullOrEmpty(Model.CompanyLogo))
                    {
                        <div>
                            <img src="@Model.CompanyLogo" alt="Company logo" style="height: 46px;width: 65px;padding-bottom: 10px;float: left;width: 150px !important;height: 65px !important;object-fit: scale-down !important;" />
                        </div>
                    }
                    else
                    {
                        <div></div>
                    }
                    <div style="text-align: center; font-size: 24px; color: #020378; "><b>@Model.Title </b></div>
                    <div><b>Printed Date:</b><span style="padding-left: 4px;">@DateTime.Now.ConvertToDefaultTimeZone(Model.DefaultTimeZone).ToShortDateString()</span></div>
                </div>
            </div>
        </td>
    </tr>

    @if (Model.DIFSurvey.Count() > 0)
    {
        <tr>
            <td style="border: none; padding-right: 0px; padding-left: 0px;" class="strip-container" colspan="12">

                @{
                    int j = 1;
                }
                @foreach (var difSurvey in Model.DIFSurvey)
                {
                    <div class="@(j % 2 == 0 ? "strip-dark" : "")"></div>
                    <div style="padding:5px;" id="@("page" + j)" class="@(j % 2 == 0 ? "strip" : "")">
                        <table style="width:100% ;border-collapse:separate;border-spacing:0">
                            <tbody>
                                <tr>
                                    <td colspan="1" style="border: none !important; width: 16%; padding: 0px;">
                                        <div style="  font-weight: 600; font-size: 1.2rem; margin-bottom: 1.2rem">@("Position".ReplaceLabel(Model.ClientSettings_LabelReplacements)):</div>
                                    </td>
                                    <td colspan="4" style="border: none !important; padding: 0px; padding-left: 10px;">
                                        <div style="font-weight: 600; font-size: 1.2rem; margin-bottom: 1.2rem;">
                                            <b>@difSurvey.Position.PositionTitle</b>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="1" style="border: none !important; width: 16%; padding: 0px;">
                                        <div style="display: block; font-weight: 600; padding: 0 40px 0 0; font-size: 1.2rem; margin-bottom: 1.2rem">Survey Title:</div>
                                    </td>
                                    <td colspan="4" style="border: none !important; padding: 0px; padding-left: 10px;">
                                        <div style="display: block; padding: 0 15px 0 0; font-weight: 600; font-size: 1.2rem; margin-bottom: 1.2rem">@difSurvey.Title</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="1" style="border: none !important; width: 16%; padding: 0px;">
                                        <div style="  font-weight: 600; font-size: 1.2rem; margin-bottom: 1.2rem">Status:</div>
                                    </td>
                                    <td colspan="4" style="border: none !important; padding: 0px; padding-left: 10px;">
                                        <div style="  font-weight: 600; font-size: 1.2rem; margin-bottom: 1.2rem">
                                            <b>@difSurvey.SurveyStatus</b>
                                        </div>
                                    </td>
                                </tr>
                                <tr><td colspan="12" style="text-align: right; border-left: 0; border-top: 0; border-bottom: 0; vertical-align: top; border-right: 0px; ">Rating Key: 1 = Very Low, 2 = Low, 3 = Moderate, 4 = High, 5 = Very High</td></tr>


                                <tr style=" border-bottom: 2px solid #000; border-collapse: collapse" class="open-border-table-row">

                                    <th style="border-bottom: 2px solid #000; border-top: 2px solid #000; border-collapse: collapse; vertical-align: top; border-right: 2px solid #000; padding-left: 0; width: 10%; " align="left">@("Task".ReplaceLabel(Model.ClientSettings_LabelReplacements))#</th>

                                    <th style="border-bottom: 2px solid #000; border-top: 2px solid #000; border-collapse: collapse; vertical-align: top; border-right: 2px solid #000;width:40%; " align="left">@("Task".ReplaceLabel(Model.ClientSettings_LabelReplacements)) Description</th>
                                    <th style="border-bottom: 2px solid #000; border-top: 2px solid #000; border-collapse: collapse; vertical-align: top; border-right: 2px solid #000; width: 5%; text-align: center;">
                                        Avg. Diff.
                                    </th>

                                    <th style="border-bottom: 2px solid #000; border-top: 2px solid #000; border-collapse: collapse; vertical-align: top; border-right: 2px solid #000; width: 5%; text-align: center;">
                                        Avg. Imp.
                                    </th>

                                    <th style="border-bottom: 2px solid #000; border-top: 2px solid #000; border-collapse: collapse; vertical-align: top; border-right: 2px solid #000; width: 5%; text-align: center;">
                                        Avg  Freq.
                                    </th>

                                    @if (Model.DisplayColumns.Where(r => r == "Recommended Training").Count() > 0)
                                    {
                                        <th style="border-bottom: 2px solid #000; border-top: 2px solid #000; border-collapse: collapse; vertical-align: top; border-right: 2px solid #000; width: 5%; text-align: center;">
                                            Recommended Training
                                        </th>
                                    }
                                    @if (Model.DisplayColumns.Where(r => r == "Override Status").Count() > 0)
                                    {
                                        <th style="border-bottom: 2px solid #000; border-top: 2px solid #000; border-collapse: collapse; vertical-align: top; border-right: 2px solid #000; width: 5%; text-align: center;">
                                            Override Status
                                        </th>
                                    }
                                    @if (Model.DisplayColumns.Where(r => r == "Training Frequency").Count() > 0)
                                    {
                                        <th style="border-bottom: 2px solid #000; border-top: 2px solid #000; border-collapse: collapse; vertical-align: top; border-right: 2px solid #000; width: 5%; text-align: center;">
                                            Training Frequency
                                        </th>
                                    }
                                    @if (Model.DisplayColumns.Where(r => r == "Task Comments").Count() > 0)
                                    {
                                        <th style="border-bottom: 2px solid #000; border-top: 2px solid #000; border-collapse: collapse; vertical-align: top; border-right: 0; width: 15%; " align="left">Comments</th>
                                    }
                                </tr>

                                @foreach (var difSurveyTask in difSurvey.Tasks)
                                {
                                    <tr>
                                        <td style="text-align: left; border-left: 0; border-top: 0; vertical-align: top; border-bottom: 0; border-right: 2px solid #000;">@difSurveyTask.Task.FullNumber</td>
                                        <td style="text-align: left; border-left: 0; border-top: 0; border-bottom: 0; vertical-align: top; border-right: 2px solid #000;">@difSurveyTask.Task.Description</td>
                                        <td style="text-align: left; border-left: 0; border-top: 0; border-bottom: 0; vertical-align: top; text-align:center; border-right: 2px solid #000;"> @(Math.Round(difSurveyTask.AverageDifficulty ?? 0, 1))</td>
                                        <td style="text-align: left; border-left: 0; border-top: 0; border-bottom: 0; vertical-align: top; text-align: center; border-right: 2px solid #000;"> @(Math.Round(difSurveyTask.AverageImportance ?? 0, 1))</td>
                                        <td style="text-align: left; border-left: 0; border-top: 0; border-bottom: 0; vertical-align: top; text-align: center; border-right: 2px solid #000;"> @(Math.Round(difSurveyTask.AverageFrequency ?? 0, 1))</td>
                                        @if (Model.DisplayColumns.Where(r => r == "Recommended Training").Count() > 0)
                                        {
                                            <td style="text-align: left; border-left: 0; border-top: 0; border-bottom: 0; vertical-align: top; text-align: center; border-right: 2px solid #000;">
                                                @difSurveyTask.TrainingStatus_Calculated.Status
                                            </td>
                                        }
                                        @if (Model.DisplayColumns.Where(r => r == "Override Status").Count() > 0)
                                        {
                                            <td style="text-align: left; border-left: 0; border-top: 0; border-bottom: 0; vertical-align: top; text-align: center; border-right: 2px solid #000;">
                                                @(difSurveyTask?.TrainingStatus_Override?.Status != null ? difSurveyTask.TrainingStatus_Override.Status : "N/A")
                                            </td>
                                        }
                                        @if (Model.DisplayColumns.Where(r => r == "Training Frequency").Count() > 0)
                                        {
                                            <td style="text-align: left; border-left: 0; border-top: 0; border-bottom: 0; vertical-align: top; text-align: center; border-right: 2px solid #000;">
                                                @(difSurveyTask?.DIFSurvey_Task_TrainingFrequency?.Status != null ? difSurveyTask?.DIFSurvey_Task_TrainingFrequency?.Status : "N/A")
                                            </td>
                                        }
                                        @if (Model.DisplayColumns.Where(r => r == "Task Comments").Count() > 0)
                                        {
                                            <td style="text-align: left; border-left: 0; border-top: 0; border-bottom: 0; vertical-align: top; border-right: 0px; ">
                                                @foreach (var responses in difSurveyTask.Responses.Where(r => r.DIFSurvey_TaskId == difSurveyTask.Id))
                                                {
                                                    <div>@responses.Comments</div>
                                                }
                                            </td>
                                        }
                                    </tr>
                                }

                                 @if (Model.DisplayColumns.Where(r => r == "Additional Comments").Count() > 0)
                                 {
                                     <tr>
                                         <td style="text-align: left; border: 0;" colspan="12">
                                             <span style="text-decoration: underline;font-weight:600">Additional Comments:</span>
                                         </td>
                                     </tr>
                                     @foreach (var difSurveyEmployee in difSurvey.Employees)
                                      {
                                          if(difSurveyEmployee.Comments != null && difSurveyEmployee.Comments != String.Empty)
                                          {
                                            <tr><td style="border:0;padding-bottom:0;padding-top:0" colspan="12" class="fix-comment"> @(new RawString(@difSurveyEmployee.Comments))</td></tr>
                                        }
                                    }
                                }
                                <tr></tr>
                            </tbody>
                        </table>
                    </div>
                    @if (!difSurvey.Equals(Model.DIFSurvey.Last()))
                    {
                        <div style="page-break-after:always"></div>
                        <div class="@(j%2==0?"strip-dark":"")"></div>
                    }
                    @{
                        j++;
                    }
                }
            </td>
        </tr>
    }
    else
    {
        <tr style="border:none">
            <td style="border:none;text-align:center">
                <i>No data available to generate requested report</i>
            </td>
        </tr>
    }

</table>
<div class="pager" style="display: flex; justify-content: flex-start; align-items: center; background-color: white; border-top: 1px solid #d5d3d366; width: 100%; max-width: 100%; overflow-x: auto; position: sticky; bottom: 0; right: 0px; overflow-y: hidden; white-space: nowrap; ">

    @for (int i = 1; i <= Model.DIFSurvey.Count(); i++)
    {
        <a href=@("#page"+i) class="pagerNumber" style="padding:0.9rem;">@i</a>
    }
</div>