@using RazorEngine.Text
@using QTD2.Infrastructure.Reports.Generation
@using QTD2.Infrastructure.ExtensionMethods
@using QTD2.Domain.Entities.Core
<style>
    .table {
        font-family: Roboto, "Helvetica Neue", sans-serif;
        color: #000;
        border-collapse: collapse;
        width: 100%;
    }

    a.pagerNumber {
        text-decoration: none;
        background-color: white;
        color: black;
    }

        a.pagerNumber:hover {
            text-decoration: none;
            background-color: cornflowerblue;
            color: white;
        }

    .strip {
        margin: 10px 0px;
    }

    .strip-container .strip-dark {
        height: 10px;
        background-color: #e8e8e8;
    }

    @@media print {
        .pager {
            display: none !important;
        }

        .strip-container .strip-dark {
            background-color: white;
        }
    }
    .employee-history {
        font-style: italic;
    }
</style>

<table id="content-table" class="table" style="border-collapse: collapse;width:100%">
    <tr>
        <td colspan="12" style="vertical-align: middle; text-align: center; border: none !important;">

            <div class="repeatedReportHeader" style="display: -webkit-box; display: flex; align-items: center; -webkit-box-pack: justify; justify-content: space-between; border-bottom: 3px solid #020378;">

                @if (!string.IsNullOrEmpty(Model.CompanyLogo))
                {
                    <div>
                        <img src="@Model.CompanyLogo" alt="Company logo" style="height: 46px;width: 65px;padding-bottom: 10px;float: left;width: 150px !    important;height: 65px !important;object-fit: scale-down !important;" />
                    </div>
                }
                else
                {
                    <div></div>
                }
                <div style="text-align: center;word-break:break-word;width:60%;">
                    <b style="display: block; color: #020378; font-weight: bold; font-size: 16px; text-align: center; margin-top: 8px;">@Model.Title </b>
                </div>
                <div><b>Printed Date:</b>@DateTime.Now.ConvertToDefaultTimeZone(Model.DefaultTimeZone).ToShortDateString()</div>
            </div>
        </td>
    </tr>

    @if (Model.Employees.Count() > 0)
    {
        <tr>
            <td colspan="12" style="border: 0; padding: 0" class="strip-container">
                @{ int j = 1;}
                @foreach (var emp in Model.Employees)
                {
                    <div class="@(j % 2 == 0 ? "strip-dark" : "")"></div>
                    <div style="padding:5px;" id="@("page" + j)" class="@(j % 2 == 0 ? "strip" : "")">
                        <table style="width:100% ;border-collapse:collapse;">
                            @if (Model.DisplayColumns.Where(r => r == "Employee Name").Count() > 0)
                            {
                                <tr>
                                    <td colspan="18" style="border: none !important; font-size: 1rem; padding-top: 5px; padding-bottom: 5px ">
                                        <b>@("Employee".ReplaceLabel(Model.ClientSettings_LabelReplacements)):</b>
                                        <span style="font-size:0.8rem;margin-left:5px">@emp?.Person?.LastName , @emp?.Person?.FirstName</span>
                                    </td>
                                </tr>
                            }
                            @if (Model.DisplayColumns.Where(r => r == "Employee Number").Count() > 0)
                            {
                                <tr>
                                    <td colspan="18" style="border: none !important; font-size: 1rem; padding-top: 5px; padding-bottom: 5px ">
                                        <b>@("Employee".ReplaceLabel(Model.ClientSettings_LabelReplacements)) #:</b>
                                        <span style="font-size:0.8rem;margin-left:5px">@emp?.EmployeeNumber</span>
                                    </td>
                                </tr>
                            }
                            @if (Model.DisplayColumns.Where(r => r == "Positions").Count() > 0)
                            {
                                var posList = emp?.EmployeePositions?
                                            .Select(empPos => empPos.Position?.PositionTitle).ToList();
                                <tr>
                                    <td colspan="18" style="border: none !important; font-size: 1rem; padding-top: 5px; padding-bottom: 5px ">
                                        <b>@("Position".ReplaceLabel(Model.ClientSettings_LabelReplacements))s:</b>
                                        <span style="font-size:0.8rem;margin-left:5px">@(new RawString(string.Join(" , ", posList)))</span>
                                    </td>
                                </tr>
                            }
                            @if (Model.DisplayColumns.Where(r => r == "Organizations").Count() > 0)
                            {
                                var orgList = emp?.EmployeeOrganizations?
                                            .Select(empPos => empPos.Organization?.Name).ToList();
                                <tr>
                                    <td colspan="18" style="border: none !important; font-size: 1rem; padding-bottom: 10px;padding-top:5px">
                                        <b>Organizations:</b>
                                        <span style="font-size:0.8rem;margin-left:5px">@(new RawString(string.Join(" , ", orgList)))</span>
                                    </td>
                                </tr>
                            }

                            <tr>
                                <td colspan="12" style="border: 0; padding: 0" class="strip-container">
                                    <table class="table">
                                        <tr style="border-bottom: 2px solid #000; border-top: 2px solid #000; border-collapse: collapse; padding: 10px">
                                            @if (Model.DisplayColumns.Contains("Employee Status"))
                                            {
                                                <th style="border-bottom: 2px solid #000; border-right: 1px solid #000; border-top: 2px solid #000; text-align: center; vertical-align: bottom;     padding:    5px;">
                                                    Current Employee Status
                                                </th>
                                            }
                                            @if (Model.DisplayColumns.Contains("Effective Date"))
                                            {
                                                <th style="border-bottom: 2px solid #000; border-right: 1px solid #000; border-top: 2px solid #000; text-align: center; vertical-align: bottom;     padding:    5px;">
                                                    Employee Status Effective Date
                                                </th>
                                            }
                                            @if (Model.DisplayColumns.Contains("Reason for Status Change"))
                                            {
                                                <th style="border-bottom: 2px solid #000; border-top: 2px solid #000; text-align: center; vertical-align: bottom;padding:5px;">
                                                    Reason for Status Change
                                                </th>
                                            }
                                        </tr>
                                        @{
                                            var employeeHistories = emp.EmployeeHistorys
                                                .Where(m => m.OperationType != EmployeeHistoryOperationType.Delete)
                                                .OrderByDescending(x => x.ChangeEffectiveDate);
                                        }
                                        @if (employeeHistories.Any())
                                        {
                                            @foreach (var empHs in employeeHistories)
                                            {
                                                <tr style="border-bottom: 1px solid #000;padding:10px">
                                                    @if (Model.DisplayColumns.Contains("Employee Status"))
                                                    {
                                                        <td style="border: none; padding: 5px; vertical-align: top; text-align: center;">
                                                            @(empHs.CurrentActiveStatus ? "Active" : "Inactive")
                                                        </td>
                                                    }
                                                    @if (Model.DisplayColumns.Contains("Effective Date"))
                                                    {
                                                        <td style="border: none; padding: 5px; vertical-align: top; text-align: center;">
                                                            @empHs.ChangeEffectiveDate.ToShortDateString()
                                                        </td>
                                                    }
                                                    @if (Model.DisplayColumns.Contains("Reason for Status Change"))
                                                    {
                                                        <td style="border: none; padding: 5px; vertical-align: top; text-align: center;">
                                                            @empHs.ChangeNotes
                                                        </td>
                                                    }
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td class="employee-history" colspan="3" style="border: none; padding: 5px; vertical-align: top; text-align: center; font-style: italic;">
                                                    There is no history to show for this @("Employee".ReplaceLabel(Model.ClientSettings_LabelReplacements))
                                                </td>
                                            </tr>
                                        }

                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                    @if (!emp.Equals(Model.Employees.Last()))
                    {
                        <div style="page-break-after:always"></div>
                        <div class="@(j % 2 == 0 ? "strip-dark" : "")"></div>
                    }
                    @{j++;}
                }
            </td>
        </tr>
    }
    else
    {
        <tr style="border:none">
            <td style="border:none;text-align:center">
                <i>No data available to generate requested report</i>
            </td>
        </tr>
    }
</table>
<div class="pager pdf-remove" id="pager" style="display: flex; justify-content: flex-start; align-items: center; background-color: white; border-top: 1px solid #d5d3d366; width: 100%; max-width: 100%; overflow-x: auto; position: sticky; bottom: 0; right: 0px; overflow-y: hidden; white-space: nowrap; ">

    @for (int i = 1; i <= Model.Employees.Count(); i++)
    {
        <a href=@("#page"+i) class="pagerNumber" style="padding:0.9rem;">@i</a>
    }
</div>