@using RazorEngine.Text
@using QTD2.Infrastructure.Reports.Generation
@using QTD2.Infrastructure.ExtensionMethods
@using QTD2.Domain.Helpers;
<style>
    .table {
        font-family: Roboto, "Helvetica Neue", sans-serif;
        color: #000;
        border-collapse: collapse;
        width: 100%;
    }


        .table tbody {
            margin: 0
        }

    a.pagerNumber {
        text-decoration: none;
        background-color: white;
        color: black;
    }

        a.pagerNumber:hover {
            text-decoration: none;
            background-color: cornflowerblue;
            color: white;
        }

    .strip {
        margin: 10px 0px;
    }

    .strip-container .strip-dark {
        height: 10px;
        background-color: #e8e8e8;
    }

    @@media print {
        .pager {
            display: none !important;
        }

        .strip-container .strip-dark {
            background-color: white;
        }
    }

    tr.open-border-table-row th:first-child, tr.open-border-table-row td:first-child {
        padding-left: 0px !important;
        border-left: 0 !important;
    }

    tr.open-border-table-row th:last-child {
        border-right: 0 !important;
    }

    .expired-row {
        color: gray;
        font-style: italic;
    }
</style>
@{
    var groupedEnablingObjectives = Model.EnablingObjectives.GroupBy(e => e.EnablingObjective_Category).OrderBy(g => g.Key?.Number).ToList();
}
<table id="content-table" class="table" style="border-collapse: collapse">
    <tr>
        <td colspan="12" style="vertical-align: middle; text-align: center; border: none !important;padding-bottom:0px">
            <div class="repeatedReportHeader" style="border-bottom: 3px solid #020378;padding-bottom:1px">
                <div style="display: -webkit-box; display: flex; align-items: center; -webkit-box-pack: justify; justify-content: space-between; border-bottom: 3px solid #020378;">
                    @if (!string.IsNullOrEmpty(Model.CompanyLogo))
                    {
                        <div>
                            <img src="@Model.CompanyLogo" alt="Company logo" style="height: 46px;width: 65px;padding-bottom: 10px;float: left;width: 150px !important;height: 65px !important;object-fit: scale-down !important;" />
                        </div>
                    }
                    else
                    {
                        <div></div>
                    }
                    <div style="text-align: center; font-size: 24px; color: #020378;">
                        <b>@Model.Title </b>
                    </div>
                    <div><b>Printed Date:</b> @DateTime.Now.ConvertToDefaultTimeZone(Model.DefaultTimeZone).ToShortDateString()</div>
                </div>
            </div>
        </td>
    </tr>


    @if (groupedEnablingObjectives.Count() > 0)
    {
        <tr>
            <td colspan="12" style="border: 0; padding: 0" class="strip-container">
                @{
                    int j = 1;
                }

                @foreach (var group in groupedEnablingObjectives)
                {
                    @{
                        var category = group?.Key;
                    }

                    <div class="@(j % 2 == 0 ? "strip-dark" : "")"></div>
                    <div style="padding:5px;" id="@("page" + j)" class="@(j % 2 == 0 ? "strip" : "")">
                        <div>
                            <table style="width:100%; border:0; border-collapse:collapse; font-size:1rem; margin-bottom:1rem; border: none !important;">
                                <tr>
                                    <td style="border: none !important; font-size: 1rem; font-weight:600;padding:2px 8px" colspan="12">
                                        <b>@category?.Number - @category?.Title</b>
                                    </td>
                                </tr>
                                @foreach (var subGroup in group.GroupBy(e => e.EnablingObjective_SubCategory).OrderBy(s => s.Key?.Number))
                                {
                                    var subCategory = subGroup?.Key;

                                    <tr>
                                        <td colspan="12" style="border: none !important; padding:10px 0px 0px 20px; font-weight:500;">
                                            <b>@category?.Number.@subCategory?.Number - @subCategory?.Title</b>
                                        </td>
                                    </tr>

                                    var topicGroups = subGroup.GroupBy(e => e.EnablingObjective_Topic).OrderBy(t => t.Key?.Number);

                                    foreach (var topicGroup in topicGroups)
                                    {
                                        var topic = topicGroup?.Key;

                                        if (topic != null)
                                        {
                                            <tr>
                                                <td colspan="12" style="border: none !important; padding:10px 0px 0px 30px; font-weight:500;">
                                                    <b>@category?.Number.@subCategory?.Number.@topic?.Number - @topic?.Title</b>
                                                </td>
                                            </tr>
                                        }

                                        foreach (var enablingObjective in topicGroup.OrderBy(e => e.FullNumber, new AlphaNumericSortHelper()))
                                        {
                                            <tr class="@(!enablingObjective.Active ? "expired-row" :"")">
                                                <td colspan="12" style="border: none !important; padding: 10px 0px 0px @(topic != null ? 50 : 30)px; font-weight:400;padding-bottom:0">
                                                    @enablingObjective?.FullNumber &nbsp;&nbsp; @enablingObjective?.Description
                                                </td>
                                            </tr>
                                            if (enablingObjective.ILA_EnablingObjective_Links.Where(m => m.ILA != null).Count() > 0)
                                            {
                                                @foreach (var ilaEOLink in enablingObjective.ILA_EnablingObjective_Links.Where(m => m.ILA != null).OrderBy(x => x.ILA.Name))
                                                {
                                                    <tr>
                                                        <td style="vertical-align:top;width:7rem;border:none!important;color:#567DFF;padding: 10px 0px 0px 150px;">
                                                            @ilaEOLink.ILA.Name (@ilaEOLink.ILA.Number)
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                            <tr></tr>
                                        }
                                    }
                                }
                            </table>
                        </div>
                    </div>

                    @if (!group.Equals(groupedEnablingObjectives.Last()))
                    {
                        <div style="page-break-after:always"></div>
                        <div class="@(j % 2 == 0 ? "strip-dark" : "")"></div>
                    }

                    @{
                        j++;
                    }
                }

            </td>
        </tr>
    }
    else
    {
        <tr style="border:none">
            <td style="border:none;text-align:center">
                <i>No data available to generate requested report</i>
            </td>
        </tr>
    }
</table>

<div class="pager pdf-remove" id="pager" style="display: flex; justify-content: flex-start; align-items: center; background-color: white; border-top: 1px solid #d5d3d366; width: 100%; max-width: 100%; overflow-x: auto; position: sticky; bottom: 0; right: 0px; overflow-y: hidden; white-space: nowrap; ">

    @for (int i = 1; i <= groupedEnablingObjectives.Count(); i++)
    {
        <a href=@("#page"+i) class="pagerNumber" style="padding:0.9rem;">@i</a>
    }
</div>
