@using RazorEngine.Text
@using QTD2.Infrastructure.Reports.Generation
@using QTD2.Infrastructure.ExtensionMethods
<style>

    .table {
        font-family: Roboto, "Helvetica Neue", sans-serif;
        width: 100%;
        border-collapse: collapse;
        margin: 0;
        table-layout: fixed;
    }

        .table td, .table th {
            padding: 0;
        }

    a.pagerNumber {
        text-decoration: none;
        background-color: white;
        color: black;
    }

        a.pagerNumber:hover {
            text-decoration: none;
            background-color: cornflowerblue;
            color: white;
        }

    .strip {
        margin: 10px 0px;
    }

    .strip-container .strip-dark {
        height: 10px;
        background-color: #e8e8e8;
    }

    tr.open-border-table-row th:first-child, tr.open-border-table-row td:first-child {
        padding-left: 0px !important;
        border-left: 0 !important;
    }

    tr.open-border-table-row th:last-child {
        border-right: 0 !important;
    }

    .fix-image, .fix-image * {
        margin: 0 !important;
        padding: 0 !important;
    }

        .fix-image img {
            width: 400px !important;
            height: auto !important;
            display: block !important;
            padding: 5px !important;
            margin: 0 !important;
            object-fit: cover;
            overflow: hidden;
        }

        .fix-image ul, .fix-image ol {
            margin: 0 !important;
            padding: 0 0 0 20px !important;
            list-style-position: inside !important;
        }

        .fix-image li {
            margin: 0 !important;
            padding: 0 !important;
        }

        .fix-image p {
            margin: 0 !important;
            padding: 0 !important;
        }

    .expired-row {
        color: lightgray;
        font-style: italic;
    }

    @@media print {
        .pager {
            display: none !important;
        }

        .strip-container .strip-dark {
            background-color: white;
        }
    }
</style>

<table id="content-table" class="table" style="border-collapse: collapse">
    <tr>
        <td colspan="12" style="vertical-align: middle; margin:0  !important;;text-align: center; border: none !important;padding-bottom:0px">
            <div class="repeatedReportHeader" style="border-bottom: 3px solid #020378;padding-bottom:1px">
                <div style="display: -webkit-box; display: flex; align-items: center; -webkit-box-pack: justify; border-bottom: 3px solid #020378;padding-top:10px;">
                    @if (!string.IsNullOrEmpty(Model.CompanyLogo))
                    {
                        <div style="width: 25%;">
                            <img src="@Model.CompanyLogo" alt="Company logo" style="height: 46px;width: 65px;padding-bottom: 10px;float: left;width: 150px !important;height: 65px !important;object-fit: scale-down !important;" />
                        </div>
                    }
                    else
                    {
                        <div style="width: 20%;"></div>
                    }
                    <div style="width: 50%; text-align: center; font-size: 24px; color: #020378;">
                        <span style="margin: 0; padding: 0;font-weight:700;">@Model.Title </span>
                    </div>
                    <div style="width: 25%;text-align: right;"><b>Printed Date:</b> @DateTime.Now.ConvertToDefaultTimeZone(Model.DefaultTimeZone).ToShortDateString()</div>
                </div>
            </div>
        </td>
    </tr>


    @if (Model.EnablingObjectives.Count() > 0)
    {
        <tr>
            <td colspan="12" style="border: 0; padding: 0;font-size:17px;" class="strip-container">
                @{
                    int j = 1;
                }

                @foreach (var eo in Model.EnablingObjectives)
                {
                    <div class="@(j % 2 == 0 ? "strip-dark" : "")"></div>
                    <div style="padding:5px;" id="@("page" + j)" class="@(j % 2 == 0 ? "strip" : "")">
                        <table class="table">
                            @{
                                var employee = Model.Employee;
                                var certificationNumber = Model.Employee?.EmployeeCertifications.FirstOrDefault(x => x.Certification?.Active == true && x.Active == true && x.Certification?.CertifyingBody?.IsNERC.Value == true)?.CertificationNumber;
                            }
                            <tr>
                                <td colspan="4" style="border:none;padding: 10px 4px 10px;">
                                    <span style="font-weight:700">@("Employee".ReplaceLabel(Model.ClientSettings_LabelReplacements)) : </span>
                                    <span> @(employee != null ? $"{employee.Person?.FirstName} {employee.Person?.LastName}" : "")</span>
                                </td>
                                <td colspan="4" style="border: none; padding: 10px 4px 10px;">
                                    <span style="font-weight:700">Cert No : </span>
                                    <span>@(certificationNumber ?? "")</span>
                                </td>
                                <td colspan="4" style="border: none; padding: 10px 4px 10px;">
                                    <span style="font-weight:700">Evaluator: </span>
                                    <span> </span>
                                </td>
                            </tr>
                            @if (Model.DisplayColumns.Contains("Position"))
                            {
                                <tr>
                                    @{
                                        var positions = eo.Position_SQs?.Where(m => m.Position != null).Select(m => m.Position.PositionTitle).Distinct().ToList() ?? new List<string>();
                                    }
                                    <td colspan="12" style="border:none;padding: 10px 4px 10px;">
                                        <span style="font-weight:700">@("Position".ReplaceLabel(Model.ClientSettings_LabelReplacements)) : </span>
                                        <span>@String.Join(", ", positions)</span>
                                    </td>
                                </tr>
                            }
                            <tr class="@(eo.Active ? "" : "expired-row")">
                                <td colspan="12" style="border: none; padding: 10px 4px 10px; font-weight: 700;">
                                    <span>@eo.FullNumber - </span>
                                    <span>@eo.Description</span>
                                </td>
                            </tr>
                            @if (Model.DisplayColumns.Contains("Show Skill Specific Suggestions"))
                            {
                                <tr>
                                    <td style="border: none;padding: 10px 4px 10px;" colspan="12">
                                        <table class="table" style="margin:0; width: 100%;">
                                            <tr>
                                                <td style="border: none; border-bottom: 2px solid #000; padding: 0.5rem 0;" colspan="12">
                                                    <span style="font-weight:700">Skill Specific Suggestions</span>
                                                </td>
                                            </tr>
                                            @if (eo.EnablingObjective_Suggestions.Any())
                                            {
                                                <tr>
                                                    <td style="border: none; padding: 0.5rem; width: 100%;" colspan="12">
                                                        <ul style="margin: 0; padding-left: 1.5rem; list-style-type: disc;">
                                                            @foreach (var eoSuggestion in eo.EnablingObjective_Suggestions)
                                                            {
                                                                <li style="margin-bottom: 0.5rem;">
                                                                    <span class="fix-image">@(new RawString(eoSuggestion.Description))</span>
                                                                </li>
                                                            }
                                                        </ul>
                                                    </td>
                                                </tr>
                                            }
                                        </table>
                                    </td>
                                </tr>
                            }
                            @if (Model.DisplayColumns.Contains("Show Skill Details"))
                            {
                                <tr>
                                    <td style="border: none !important;padding: 10px 4px 10px;" colspan="12">
                                        <table style="width:100%;table-layout:fixed;">
                                            <tr>
                                                <td style="border: none !important; text-align: left;width:15%;padding:5px 0px">
                                                    <div style="font-weight:700">Conditions : </div>
                                                </td>
                                                <td style="border: none !important;width:85%;padding:5px 0px">
                                                    <div style="display:inline-block;">@(new RawString(eo.Conditions))</div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td style="border: none !important;padding-top:0;width:100%;" colspan="12">
                                                    <table style="width:100%;">
                                                        <tr>
                                                            <td style="border: none !important;width:15%;padding:5px 0px">
                                                                <div style="font-weight:700">@("Tool".ReplaceLabel(Model.ClientSettings_LabelReplacements))s:</div>
                                                            </td>
                                                            @if (eo.EnablingObjective_Tools != null && eo.EnablingObjective_Tools.Any())
                                                            {
                                                                <td style="border: none !important;width:85%;padding:5px 0px">
                                                                    @eo.EnablingObjective_Tools.First().Tool?.Name
                                                                </td>
                                                            }
                                                            else
                                                            {
                                                                <td style="border: none !important;width:85%;padding-bottom:5px;padding-top:5px"></td>
                                                            }
                                                        </tr>
                                                        @if (eo.EnablingObjective_Tools != null && eo.EnablingObjective_Tools.Count() > 0)
                                                        {
                                                            foreach (var t in eo.EnablingObjective_Tools.Skip(1))
                                                            {
                                                                <tr>
                                                                    <td style="border: none !important;width:15%;padding-bottom:5px;padding-top:5px"></td>
                                                                    <td style="border: none !important;width:85%;padding-bottom:5px;padding-top:5px">@t.Tool?.Name</td>
                                                                </tr>
                                                            }
                                                        }
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="border: none !important; text-align: left;width:15%;padding:5px 0px">
                                                    <div style="font-weight:700;">References :</div>
                                                </td>
                                                <td style="border: none !important; text-align: left;width:85%;padding:5px 0px">
                                                    <div style="display:inline-block;">@(new RawString(eo.References))</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="border: none !important; text-align: left;width:15%;padding:5px 0px">
                                                    <div style="font-weight:700">Criteria :</div>
                                                </td>
                                                <td style="border: none !important; text-align: left;width:85%;padding:5px 0px">
                                                    <div style="display:inline-block;">@(new RawString(eo.Criteria))</div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            }
                            @if (Model.DisplayColumns.Contains("Show Tasks"))
                            {
                                <tr>
                                    <td style="border: none !important; padding-top: 15px;padding-bottom: 15px; text-align: left; font-weight: 600;" colspan="12">
                                        <span style="padding: 0.4rem;"><b>@("Task".ReplaceLabel(Model.ClientSettings_LabelReplacements))s:</b></span>
                                    </td>
                                </tr>

                                @if (eo?.Task_EnablingObjective_Links != null && eo.Task_EnablingObjective_Links.Any())
                                {
                                    @foreach (var eoLink in eo.Task_EnablingObjective_Links.Where(x => x.Task != null && x.Task.Active))
                                    {
                                        <tr>
                                            <td style="border:none!important" colspan="12">
                                                <table style="table-layout: fixed; width: 100%;">
                                                    <tr>
                                                        <td style="border: none; width: 15% !important;padding: 0.4rem;" colspan="3"><span>@eoLink.Task.FullNumber</span></td>
                                                        <td style="border: none; padding: 0.4rem; width: 85%;" colspan="9">@eoLink.Task.Description</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                            @if (Model.DisplayColumns.Contains("Show Procedures"))
                            {
                                <tr>
                                    <td style="border: none !important; padding-top: 15px;padding-bottom: 15px; text-align: left; font-weight: 600;" colspan="12">
                                        <span style="padding: 0.4rem;"><b>@("Procedure".ReplaceLabel(Model.ClientSettings_LabelReplacements))s:</b></span>
                                    </td>
                                </tr>

                                @if (eo?.Procedure_EnablingObjective_Links != null && eo.Procedure_EnablingObjective_Links.Any())
                                {
                                    @foreach (var procedure in eo.Procedure_EnablingObjective_Links.Where(x => x.Procedure != null && x.Procedure.Active))
                                    {
                                        <tr>
                                            <td style="border:none!important" colspan="12">
                                                <table style="table-layout: fixed; width: 100%;">
                                                    <tr>
                                                        <td style="border: none; width: 15%;padding: 0.4rem;" colspan="3"><span>@procedure.Procedure.Number</span></td>
                                                        <td style="border: none; padding: 0.4rem; width: 85%;" colspan="9">@procedure.Procedure.Title</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                            @if (Model.DisplayColumns.Contains("Show Regulatory Requirements"))
                            {
                                <tr>
                                    <td style="border: none !important; padding-top: 15px;padding-bottom: 15px; text-align: left; font-weight: 600;" colspan="12">
                                        <span style="padding: 0.4rem;"><b>@("Regulatory Requirement".ReplaceLabel(Model.ClientSettings_LabelReplacements))s:</b></span>
                                    </td>
                                </tr>
                                @if (eo?.RegRequirement_EO_Links != null && eo.RegRequirement_EO_Links.Any())
                                {
                                    @foreach (var rr in eo.RegRequirement_EO_Links.Where(x => x.RegulatoryRequirement != null && x.RegulatoryRequirement.Active))
                                    {
                                        <tr>
                                            <td style="border:none!important" colspan="12">
                                                <table style="table-layout: fixed; width: 100%;">
                                                    <tr>
                                                        <td style="border: none; width: 15%;padding: 0.4rem;white-space:nowrap;" colspan="3"><span>@rr.RegulatoryRequirement.Number</span></td>
                                                        <td style="border: none; padding: 0.4rem; width: 85%;white-space:nowrap;" colspan="9">@rr.RegulatoryRequirement.Title</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                            @if (Model.DisplayColumns.Contains("Show Safety Hazards"))
                            {
                                <tr>
                                    <td style="border: none !important; padding-top: 15px;padding-bottom: 15px; text-align: left; font-weight: 600;" colspan="12">
                                        <span style="padding: 0.4rem;"><b>@("Safety Hazard".ReplaceLabel(Model.ClientSettings_LabelReplacements))s:</b></span>
                                    </td>
                                </tr>
                               
                                @if (eo?.SafetyHazard_EO_Links != null && eo.SafetyHazard_EO_Links.Any())
                                {
                                    @foreach (var sH in eo.SafetyHazard_EO_Links.Where(x => x.SaftyHazard != null && x.SaftyHazard.Active))
                                    {
                                        <tr>
                                            <td style="border:none!important" colspan="12">
                                                <table style="table-layout: fixed; width: 100%;">
                                                    <tr>
                                                        <td style="border: none; width: 15%;white-space:nowrap" colspan="3"><span>@sH.SaftyHazard.Number</span></td>
                                                        <td style="border: none; width: 85%;white-space:nowrap" colspan="9">@sH.SaftyHazard.Title</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                            <tr>
                                <td style="border: none !important; padding-top: 15px" colspan="12"><b>Performance Checksheet:</b></td>
                            </tr>
                            <tr>
                                <td style="border: none !important;padding:15px 0" colspan="12">
                                    <table style="width: 100%; border-collapse: collapse;">
                                        <thead>
                                            <tr>
                                                <th style="border: 1px solid; border-left:0;padding: 5px;vertical-align:bottom;text-align:left;  width: 5%;" colspan="2">Check</th>
                                                <th style="border: 1px solid;padding: 5px;vertical-align:bottom;  min-width: 140px;text-align:left; width:15%;" colspan="2">Step #</th>
                                                <th style="border: 1px solid;padding: 5px;vertical-align:bottom; text-align: left;text-align:left;width:50%;" colspan="5">Instructions/Steps</th>
                                                <th style="border: 1px solid;border-right:0;padding: 5px;vertical-align:bottom;width:30%;text-align:left; " colspan="3">Notes</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var eoStep in eo.EnablingObjective_Steps.OrderBy(x => x.Number))
                                            {
                                                <tr>
                                                    <td colspan="2" style=" padding: 5px; vertical-align: top;text-align: left; border-bottom: 1px solid;"><input type="checkbox" disabled /></td>
                                                    <td style="padding:5px; border-bottom: 1px solid; vertical-align: top; text-align: left;" colspan="2">@eoStep.EnablingObjective?.FullNumber</td>
                                                    <td class="fix-image" style="padding: 5px !important;vertical-align: top; border-bottom: 1px solid;text-align:left;" colspan="5">
                                                        @if (eoStep.Description.Contains("<p>"))
                                                        {
                                                            <div style="margin: 0; padding: 5px;">
                                                                @(new RawString(eoStep.Description))
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            @(new RawString(eoStep.Description))
                                                        }
                                                    </td>
                                                    <td style="padding: 5px; border-bottom: 1px solid;text-align:left;" colspan="3"></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            @{
                                bool showOnlyQuestion = Model.DisplayColumns.Where(r => r == "Show Skill Questions Only").Count() > 0;
                                bool showQuestionAnswer = Model.DisplayColumns.Where(r => r == "Show Skill Questions and Answers").Count() > 0;
                            }
                            @if (showOnlyQuestion || showQuestionAnswer)
                            {
                                <tr>
                                    <td style="border: none;" colspan="12">
                                        <table class="table" style="margin:0; width:100%">
                                            <tr>
                                                <td style="border: none; width: 25%; padding: 0.4rem;" colspan="3">
                                                    <span style="font-weight:700;">
                                                        @((showQuestionAnswer) ? "Questions & Answers" : "Questions")
                                                    </span>
                                                </td>
                                            </tr>
                                            @{
                                                int counter = 1;
                                            }
                                            @foreach (var eoQuestions in eo.EnablingObjective_Questions)
                                            {
                                                <tr>
                                                    <td style="border: none; padding: 0.4rem;" colspan="12">
                                                        <div style="display: table; width: 100%;">
                                                            <div style="display: table-cell; vertical-align: top; width: 5%;">
                                                                <span>@counter.</span>
                                                            </div>
                                                            <div style="display: table-cell; vertical-align: top; width: 95%;">
                                                                <span class="fix-image">@(new RawString(eoQuestions.Question))</span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                @if (showQuestionAnswer)
                                                {
                                                    <tr>
                                                        <td style="border: none; padding: 0.4rem;" colspan="12">
                                                            <div style="display: table; width: 100%;">
                                                                <div style="display: table-cell; vertical-align: top; width: 5%; padding-right:6px;">
                                                                    <span>Answer:</span>
                                                                </div>
                                                                <div style="display: table-cell; vertical-align: top; width: 95%;">
                                                                    <span class="fix-image">@(new RawString(eoQuestions.Answer))</span>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                                @{
                                                    counter++;
                                                }
                                            }
                                        </table>
                                    </td>
                                </tr>
                            }

                            @if (Model.DisplayColumns.Contains("Evaluator Notes"))
                            {
                                <tr>
                                    <td style="border: none !important; padding-top: 15px; padding-bottom: 15px; text-align: left; font-weight: 600; margin-bottom: 10px;" colspan="12">
                                        <span style="padding: 0.4rem;"><b>Evaluator Notes:</b></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="12" style="border: none; height: 10px;"></td>
                                </tr>
                            }
                            @if (Model.DisplayColumns.Contains("Final Result"))
                            {
                                <tr>
                                    <td style="border: none !important; padding-top: 15px; padding-bottom: 15px; text-align: left; font-weight: 600; margin-bottom: 10px;" colspan="12">
                                        <span style="padding: 0.4rem;"><b>Final Results:</b></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="12" style="border: none; height: 10px;"></td>
                                </tr>
                            }
                            @if (Model.DisplayColumns.Contains("Trainee Final Signature & Date") || Model.DisplayColumns.Contains("Evaluator Final Signature & Date"))
                            {
                                <tr>
                                    <td style="border: none !important; padding-top: 15px;text-align: left; font-weight: 600;" colspan="12">
                                        <span style="padding: 0.4rem;"><b>Signatures:</b></span>
                                    </td>
                                </tr>
                            }
                            <tr>
                                @if (Model.DisplayColumns.Contains("Trainee Final Signature & Date"))
                                {
                                    <td style="border: none !important; padding-top:5px; padding-bottom: 15px; text-align: left; font-weight: 600;" colspan="6">
                                        <div style="padding:0 0.4rem;padding-bottom:25px"><b>Trainee Signature:</b></div>
                                        <div style="padding: 0.4rem;"><b>Date:</b></div>
                                    </td>

                                }
                                else
                                {
                                    <td style="border: none !important; padding-top: 15px; padding-bottom: 15px;" colspan="6"></td>
                                }
                                @if (Model.DisplayColumns.Contains("Evaluator Final Signature & Date"))
                                {
                                    <td style="border: none !important; padding-top:5px; padding-bottom: 15px; text-align: left; font-weight: 600;" colspan="6">
                                        <div style="padding:0 0.4rem;padding-bottom:25px"><b>Evaluator Signature:</b></div>
                                        <div style="padding: 0.4rem;"><b>Date:</b></div>
                                    </td>
                                }
                            </tr>
                            <tr></tr>
                        </table>
                    </div>

                    @if (!eo.Equals(Model.EnablingObjectives.Last()))
                    {
                        <div style="page-break-after:always"></div>
                        <div class="@(j % 2 == 0 ? "strip-dark" : "")"></div>
                    }
                    @{
                        j++;
                    }
                }
            </td>
        </tr>
    }
    else
    {
        <tr style="border:none">
            <td style="border:none;text-align:center" colspan="12">
                <i>No data available to generate requested report</i>
            </td>
        </tr>
    }
</table>

<div class="pager pdf-remove" id="pager" style="display: flex; justify-content: flex-start; align-items: center; background-color: white; border-top: 1px solid #d5d3d366; width: 100%; max-width: 100%; overflow-x: auto; position: sticky; bottom: 0; right: 0px; overflow-y: hidden; white-space: nowrap; ">

    @for (int i = 1; i <= Model.EnablingObjectives.Count(); i++)
    {
        <a href=@("#page"+i) class="pagerNumber" style="padding:0.9rem;">@i</a>
    }
</div>
