@model QTD2.Web.Authentication.Models.CreatePasswordViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@if (TempData.ContainsKey("ErrorMessage") && !string.IsNullOrWhiteSpace(TempData["ErrorMessage"].ToString()))
{
    <div class="alert alert-danger" role="alert">
        <i class="fa fa-check"></i>
        @TempData["ErrorMessage"]
    </div>
}
@if (TempData.ContainsKey("Message") && !string.IsNullOrWhiteSpace(TempData["Message"].ToString()))
{
    <div class="alert alert-success" role="alert">
        <i class="fa fa-check"></i>
        @TempData["Message"]
    </div>
}
<div class="relative sm:w-2/6 mx-auto" style="padding-top:2rem">

    <!-- Forms card starts here -->
    <div class="bg-white shadow-md rounded px-12 py-12 ">
        <h1 class="text-2xl font-semibold text-gray-900">@Localizer["NewPasswordViewHeader"]</h1>

        <!-- form starts here -->
        <form class="block text-sm" asp-action="CreatePassword" asp-controller="ForgotPassword" method="post">
            @Html.AntiForgeryToken()

            <div class="mt-6">
                <label class="block text-gray-700 font-medium ">@Localizer["Email"]</label>
                @Html.TextBoxFor(r => r.Email, new { @class = "text-base border w-full h-5 px-4 py-6 mt-2 hover:outline-none focus:outline-none focus:ring focus:ring-offset-2 focus:ring-green-900 focus:ring-opacity-50 rounded" })
            </div>
            <div class="mt-6">
                <label class="inline-block text-gray-700 font-medium">@Localizer["TypeNewPassword"]</label>
                @Html.PasswordFor(r => r.Password, new { @class = "text-base border w-full h-5 px-4 py-6 mt-2 hover:outline-none focus:outline-none focus:ring focus:ring-offset-2 focus:ring-green-900 focus:ring-opacity-50 rounded" })
                @Html.ValidationMessageFor(r => r.Password, "", new { @class = "error" })
            </div>

            <div class="mt-6">
                <label class="inline-block text-gray-700 font-medium">@Localizer["ReTypeNewPassword"]</label>
                @Html.PasswordFor(r => r.ConfirmPassword, new { @class = "text-base border w-full h-5 px-4 py-6 mt-2 hover:outline-none focus:outline-none focus:ring focus:ring-offset-2 focus:ring-green-900 focus:ring-opacity-50 rounded" })
                @Html.ValidationMessageFor(r => r.ConfirmPassword, "", new { @class = "error" })
            </div>

            <input type="submit" value="Save Password" class="btn-primary mt-6 text-center" />

        </form>
        <!-- form ends here -->
    </div>
    <!-- Forms card ends here -->
    <!-- privacy terms starts here-->
    <div class="mt-6 text-xs text-gray-500 text-center">
        <a href="">Privacy and terms</a>
    </div>
    <!-- privacy and terms ends here -->

</div>