@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<div class="relative sm:w-2/6 mx-auto" style="padding-top:2rem">

    <!-- Forms card starts here -->
    <div class="bg-white shadow-md rounded px-12 py-12 ">
        <h1 class="text-2xl font-semibold text-gray-900">@Localizer["ResetPassword"]</h1>

        <!-- form starts here -->
        <form class="block text-sm" asp-action="RequestForgotPassword" asp-controller="ForgotPassword" method="post">

            <p class="block text-gray-700 font-medium mt-4">@Localizer["ForgotPasswordInstructions"]</p>

                <div class="mt-12">
                    <label class="inline-block text-gray-700 font-medium">@Localizer["Email"]</label>
                    <input name="email" placeholder="Enter email" class="text-base border w-full h-5 px-4 py-6 mt-2 hover:outline-none focus:outline-none focus:ring focus:ring-offset-2 focus:ring-green-900 focus:ring-opacity-50 rounded">
                </div>

                <button type="submit" class="btn-primary mt-4 text-center">@Localizer["GetResetLink"]</button>

                <p class=" text-gray-500 mt-12 text-center block">@Localizer["AlreadyHaveAnAccount"] <a asp-action="Index" asp-controller="Login" class="underline hover:text-green-900">@Localizer["SignIn"]</a></p>

        </form>
        <!-- form ends here -->
    </div>
    <!-- Forms card ends here -->
    <!-- privacy terms starts here-->
    <div class="mt-6 text-xs text-gray-500 text-center">
        <a href="">Privacy and terms</a>
    </div>
    <!-- privacy and terms ends here -->

</div>